.cta {
    width: 150px;
    min-height: 3rem;
    font-weight: 700;
    font-size: 1rem;
    color: getColour(backgroundColour);
    background-color: getColour(textColour);
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    border: 2px solid getColour(backgroundColour);
    border-radius: 3px;

    i {
        color: getColour(backgroundColour);
        font-size: 1rem;
        margin-right: 10px;

        @media(min-width: 900px) {
            font-size: 1.5rem;
        }
    }

    p {
        color: getColour(backgroundColour);
        margin-bottom: 0px;
    }

    &:hover {
        cursor: pointer;
        color: getColour(backgroundColour);
        background-color: getColour(textColour);
        border: 2px solid getColour(backgroundColour);
        box-shadow: 2px 2px 10px black
    }
}

.to__projects__btn {
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    width: 200px;

    @media(min-width: 900px) {
        width: 300px;
    }
}

.project__cta {
    height: 40px;
}